#homeworks
ter-homeworks/*
ter-homeworks/*/demo/

#allowed
!ter-homeworks/02/
!ter-homeworks/02/src/
!ter-homeworks/02/src/**
!ter-homeworks/03/
!ter-homeworks/03/src/
!ter-homeworks/03/src/**

# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplan

#yc cloud service key
*authorized_key.json
